@import 'nib';
@import './responsive-pixels'

global-reset();


html
  font-size 16px

body
  background-color #ccc
  color #000
  font-family 'Noto Sans', Arial, Verdana, sans-serif
  font-size 24px

pre[class*="language-"]
  display inline-block
  font-size 18px
  border-radius 10px
  padding 5px 15px
  margin 40px 0

main 
  width 70%
  padding 1em

  section
    line-height 30px
    p
      margin 30px 0
    ul
      margin 0 0 0 50px
      list-style disc

  h1
    font-family "Bree Serif", serif
    font-size 80px
    font-weight 400
    
  h2 
    margin-top 10px
    font-size 40px
    font-family "Helvetica Neue", "Open Sans", sans-serif
    font-weight 100
    color #666